#menu_button {
    top: 0;
    left: 0;
    width : 30%;
    background:#99c;
    position: absolute;
}
    #menu_button input {
        float: right;
    }

    #menu_button ul {
        list-style: none;
    }

    #menu_button li {
        display: inline;
    }


#big_menu {
    background:#99c;

    top: 50px;
    left: 0;
    width:25%;
    height: auto;
    overflow-y: auto;
}

#right_frame {
    width: 99%;
    height: 99%;
    position: absolute;
    top: 0;
    right: 0;
    background:white;
}

.sidebar {
    float:left;
    position: absolute;
}
    .sidebar ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    .sidebar li {
        margin:0;
        padding: 3px 5px 3px 10px;
    }    
        .sidebar li a {
            color: black;
            text-decoration: none;
            text-align: justify;
        }
        .sidebar li.odd {
            background-color: blue;
        }
        .sidebar li.even {
            background-color: yellow;
        }